<div class="text-center padded">
  <h1>Our team of <%= 2 + 1 %> members</h1>
  <% team = %w(Seb Romain Anne) %>
  <ul class="list-inline">
    <% team.each do |member| %>
      <li>
        <h2><%= member %></h2>
        <%= image_tag "#{member.downcase}.jpg", class: "img-circle" %>
      </li>
    <% end %>
  </ul>
</div>
