<div class="padded">
  <ul class="list-inline text-center">
    <% ["Clement", "Nikolay"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "avatar-bordered" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>
